.bespoke-slide {

}

/*
  All active slides have this class
*/
.bespoke-active {
  z-index: 5;
  transform: translateX(0);
  transition: background-color 5s ease-out, transform 0.25s ease-out;
}

/*
  All inactive slides have this class
*/
.bespoke-inactive {
  z-index: 1;
  transition: background-color 5s ease-out, transform 0.25s ease-out;
}

/*
  All slides before the active slide have this class
  The before-n classes are useful for anticipating slides before the
  active slide.
*/
.bespoke-before-1 {
  z-index: 4;
  transform: translateX(-25%);

}
.bespoke-before-2 {
  z-index: 3;
  transform: translateX(-50%);

}
.bespoke-before-3 {
  z-index: 2;
  transform: translateX(-100%);
}

/*
  All slides after the active slide have this class
  The after-n classes are useful for anticipating slides after the
  active slide.
*/
.bespoke-after-1 {
  z-index: 4;
  transform: translateX(125%);
}
.bespoke-after-2 {
  z-index: 3;
  transform: translateX(150%);
}
.bespoke-after-3 {
  z-index: 2;
  transform: translateX(200%);
}

/*
  Styles for progress bar on the page. You only get one.
*/
.bespoke-progress-parent {
  background-color: rgba(84, 0, 126, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 5;

}
.bespoke-progress-bar {
  background-color: rgba(12, 72, 254, 0.9);
  width: 100%;
  height: 100%;

  transition: all 0.45s ease-in;
}

/*
  Styles for bullets.
*/
.bespoke-bullet {
  border-color: transparent;
  transition: opacity .25s ease-in-out, border .45s ease-in, background .45s ease-in;
}
.bespoke-bullet .cne-icon--check {
  transition: opacity 1s ease-in;
}

.bespoke-bullet-inactive {
  opacity: 0;
}
.bespoke-bullet-inactive .cne-icon--check {
  opacity: 0;
}

.bespoke-bullet-active {
  opacity: 1;
}
.bespoke-bullet-active .cne-icon--check {
  opacity: 1;
}

.bespoke-bullet-current {
  background-color: rgba(250, 250, 250, 0.1);
  border-color: rgba(250, 250, 250, 0.15);
}
