/*
  $rgba--cne-purple: background-color: rgba(84, 0, 126, 1);
  $rgba--cne-scene-blue: background-color: rgba(12, 72, 254, 1);
*/

@import '_icon.css';
@import '_global.css';
@import '_bespoke.css';

/*
  Base Slide Styles
*/

.slide {
  background-color: rgba(20, 80, 126, 1);
  color: #fff;
  box-sizing: border-box;
  padding: 0 5%;
}

.slide--title {
  background-color: rgba(12, 72, 254, 1);
  color: rgba(255, 255, 255, 1);
}

.slide--section {
  background-color: rgba(84, 0, 126, 1);
  color: rgba(255, 255, 255, 1);
}

.cne-icon--thescene {
  font-size: 330px;
  display: block;
  line-height: 0;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding: 0;
}

.slide__title {
  font-weight: 100;
  font-size: 78px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.slide__subhead {
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.slide__copy {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
}

.slide--title__image {
  display: none;
  width: 50%;
  margin: auto;
}
.bespoke-active .slide--title__image {
  display: block;
}
